<p id="notice"><%= notice %></p>



<h1>Index</h1>


<h1>Welcome!</h1>

<div>for for card search here</div>

<table>
  <thead>
    <tr>
      <th>Cube preview</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
     
        <td><%= link_to 'Details', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you fucking sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>